extends ./includes/layout

block content
    .container(style="padding-bottom: 100px")
        .row
            table.table.table-hover.table-bordered(style="table-layout:fixed")
                thead
                    tr
                        th 备注
                        th 投放渠道
                        th 跳转url
                        th 落地页url
                        th 审核url
                        th 微信号
                        th 行1
                        th 行2
                        th 行3
                        th 是否审核
                        th 更新
                        th 删除
                tbody
                    each item in categories
                        tr(class="item-id-#{item._id}")
                            td #{item.remark}
                            td #{item.title}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.url}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.luodiyeUrl}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.auditUrl}
                            td #{item.wechat}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.title1}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.title2}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.title3}
                            td
                                if item.isAudit
                                    input.audit(type="checkbox", value="#{item._id}", checked)
                                else
                                    input.audit(type="checkbox", value="#{item._id}")
                            td: a(target="_blank", href="/admin/update/#{item._id}") 修改
                            td
                                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
    script(src="/js/admin.js")