extends ./includes/layout

block content
    .container(style="padding-bottom: 100px")
        .row
            table.table.table-hover.table-bordered(style="table-layout:fixed")
                thead
                    tr
                        th 备注
                        th 投放渠道
                        th 落地页url
                        th 微信号
                        th 行1
                        th 行2
                        th 行3
                        th 录入时间
                        th 更新
                tbody
                    each item in toufangs
                        tr(class="item-id-#{item._id}")
                            td #{item.remark}
                            td #{item.title}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.url}
                            td #{item.wechat}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.title1}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.title2}
                            td(style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;") #{item.title3}
                            td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
                            //-url上的..就是带着跳转链接的第一个子域名
                            td: a(target="_blank", href="/admin/update/#{item._id}") 修改
            ul.pagination
                - for(var j = 0; j < totalPage; j ++) {
                    - if(currentPage == (j + 1)) {
                        li.active
                            span #{currentPage}
                    - } else {
                        li
                            a(href="/admin/search?p=#{j}&q=#{q}") #{j + 1}
                    - }
                - }